<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partials/head') %>
<body>
<%- body %>
<%- partial('_partials/scripts') %>
<% if (theme.plugins.aplayer.enable) { %>
    <%- partial('_plugins/aplayer') %>
<% } %>
<canvas class="fireworks" style="position:fixed;left:0;top:0;z-index:99999999;pointer-events:none;"></canvas>
<meting-js
    server="netease"
    type="playlist"
    id="7637965554"
	fixed="true"
	showlrc="false"
	lrc-type="0"
	muted>
</meting-js>
</body>
</html>
