<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partials/head') %>
<body>
<%- body %>
<%- partial('_partials/scripts') %>
<% if (theme.plugins.aplayer.enable) { %>
    <%- partial('_plugins/aplayer') %>
<% } %>
<meting-js
	server="netease"
	type="playlist"
	id="7637965554">
</meting-js>
</body>
</html>
